<html>
<table style="height: 5px; width: 800px;">
<tbody>
<tr>
<td style="width: 86px; text-align: center;"><a href="/">Main Page</a></td>
<td style="width: 130px; text-align: center;"><a href="/index">Add records to Main Database</a></td>
<td style="width: 108px; text-align: center;"><a href="/view">View database</a></td>
<td style="width: 150px; text-align: center;"><a href="/bigbasket">Order Groceries</a></td>
<td style="width: 150px; text-align: center;"><a href="/medplus">Order Medicines</a></td>
<td style="width: 77px; text-align: center;"><a href="/statistics">Stats</a></td>
<td style="width: 77px; text-align: center;"><a href="/contact">Contact us</a></td>
</tr>
</tbody>
</table>
<p style="text-align: center;"><img src="{{ url_for('static', filename='bigbasket.jpg') }}" alt="Background" width="800" height="285" /></p>
<p>Redirecting to BigBasket.com.....</p>
<p>Do you want to continue???</p>
<p>&nbsp;</p>

<div class="form">
    <form action="https://www.bigbasket.com/">
        <input type="submit" value="Yes, continue">
    </form>
    <form action="/" method="POST">
        <input type="submit" value="No, return to home">
    </form>
</div>