<html>
<table style="height: 5px; width: 800px;">
<tbody>
<tr>
<td style="width: 86px; text-align: center;"><a href="/">Main Page</a></td>
<td style="width: 130px; text-align: center;"><a href="/index">Add records to Main Database</a></td>
<td style="width: 108px; text-align: center;"><a href="/view">View database</a></td>
<td style="width: 150px; text-align: center;"><a href="/bigbasket">Order Groceries</a></td>
<td style="width: 150px; text-align: center;"><a href="/medplus">Order Medicines</a></td>
<td style="width: 77px; text-align: center;"><a href="/statistics">Stats</a></td>
<td style="width: 77px; text-align: center;"><a href="/contact">Contact us</a></td>
</tr>
</tbody>
</table>
<h1 style="text-align: center;"><span style="color: #0000ff;">CONTACT US</span></h1>
<p><span style="color: #0000ff;">&nbsp;</span></p>
<p style="text-align: center;"><img src="{{ url_for('static', filename='help.jpg') }}" alt="Background" width="800" height="285" /></p>
<p><span style="color: #000000;">For any extra information, reach out to us at the following :</span></p>
<p><span style="color: #000000;">Phone : 9998199981</span></p>
<p><span style="color: #000000;">E-Mail : <a href="mailto:helptheelderly@gmail.com">helptheelderly@gmail.com</a></span></p>
<p><span style="color: #000000;">Address : #12939, 100ft Road , Indiranagar - 17</span></p>